@import 'node_modules/easings-css';

:root {
  --rotate: 0;
  --skewX: 0;
  --skewY: 0;
  --translateX: 0;
  --translateY: 0;
}

%transforms {
  transform: rotate(var(--rotate)) skew(var(--skewX), var(--skewY)) translate(var(--translateX), var(--translateY));
}

.workTile {
  display: block;
  height: fit-content;

  @screen xl {
    margin: 0 4rem;    
  }

  &:nth-child(even) {
    @screen xl {
      margin-top: 6rem;
    }
  }
  
  &__title {
    font-weight: 800;
    transition: color 640ms $ease-out-cubic;
    margin-bottom: 0.5rem;
  }

  &__content {
    margin-top: 1rem;
    text-align: left;
  }

  &__tags {
    font-family: theme('fontFamily.serif');
    color: theme('colors.lightgray');
  }

  &__desc {
    margin-top: 1.5rem;
    font-size: 18px;
    line-height: 28px;
    opacity: 0;
    transform: translateY(10px);
    transition: all 640ms $ease-out-cubic;
    display: none;
  }

  &__frame {
    position: relative;
    // height: 554px;
    width: 100%;
    height: 0;
    padding-bottom: 102%;
    margin-bottom: 0;
    overflow: hidden;
  }

  &__figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    // transition: all 640ms $ease-out-cubic;
  }

  &__img {
    position: absolute;
    // inset: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
    object-position: center;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 3s ease-out;
  }

  &__wedge {
    --size: 125px;

    position: absolute;
    bottom: 0;
    right: calc(-1 * var(--size));
    width: var(--size); 
    height: var(--size);

    &::after {
      --skewX: -45deg;
      // --translateY: 100%;
      --translateX: -50%;
      @extend %transforms;

      content: '';
      display: block;
      position: absolute;
      inset: 0;
      background-color: white;
      transform-origin: bottom;
      transition: transform 220ms $ease-in-quad;
    }
  }

  i.arrow-right {
    position: absolute;
    bottom: 0;
    left: -15%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: theme('colors.gold');
    transition: opacity 300ms $ease-in-cubic;
  }
  /*
  &:hover {
    .workTile {
      &__title {
        color: theme('colors.gold');
      }

      &__desc {
        opacity: 1;
        transform: translateY(0px);
      }

      &__figure {
        // transform: translateY(-5px);
        // box-shadow: 0 0 10px rgba(0,0,0,0.2);
      }

      &__img {
        transform: scale(1.05);
      }

      &__wedge {
        &::after {
          --translateY: 0%;
          transition: transform 430ms $ease-out-cubic;
        }
      }
    }

    i.arrow-right {
      opacity: 1;
      transition: opacity 300ms $ease-out-cubic;
    }
    
  }
  */
}
