@import 'node_modules/easings-css';

:root {
  --rotate: 0;
  --skewX: 0;
  --skewY: 0;
  --translateX: 0;
  --translateY: 0;
}

%transforms {
  transform: rotate(var(--rotate)) skew(var(--skewX), var(--skewY)) translate(var(--translateX), var(--translateY));
}

.workTile {

  // Work Section (columns)
  .work-columns & {
    display: block;
    height: fit-content;  

    @screen xl {
      margin: 0 4rem;
    }
  
    &:nth-child(even) {
      @screen xl {
        margin-top: 6rem;
      }
    }

    &__frame {
      height: 0;
      padding-bottom: 102%;
    }

    &__img {
      height: 120%;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      .workTile__img {
        transform: translateY(-50%) /* scale(1.035) */; 
      }
    }
  }
  
  &__title {
    font-weight: 800;
    transition: color 640ms $ease-out-cubic;
    margin-bottom: 0.5rem;
  }

  &__content {
    margin-top: 1rem;
    text-align: left;
  }

  &__tags {
    font-family: theme('fontFamily.serif');
    color: theme('colors.lightgray');
  }

  &__desc {
    margin-top: 1.5rem;
    font-size: 18px;
    line-height: 28px;
    opacity: 0;
    transform: translateY(10px);
    transition: all 640ms $ease-out-cubic;
    display: none;
  }

  &__frame {
    position: relative;
    // height: 554px;
    width: 100%;
    height: 100%;
    // height: 0;
    // padding-bottom: 102%;
    margin-bottom: 0;
    overflow: hidden;

    /*
    &::before {
      --size: 250px;
      --skewX: -45deg;
      // --translateY: 100%;
      @extend %transforms;

      position: absolute;
      bottom: 0;
      right: calc(-1 * var(--size));
      width: var(--size); 
      height: var(--size);

      content: '';
      display: block;
      background-color: white;
      z-index: 10;
      transition: transform 400ms $ease-in-quad;
    }
    */
  }

  &__figure {
    width: 100%;
    height: 125%;
    position: absolute;
    top: 0;
    // transition: all 640ms $ease-out-cubic;
  }

  &__img {
    position: absolute;
    // inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 3s ease-out;
  }

  &__wedge {
    --size: 150px;

    position: absolute;
    bottom: -10px;
    right: -10px;
    // right: calc(-1 * var(--size));
    width: var(--size); 
    height: var(--size);
    // background-color: red;
    // z-index: 998;
    overflow: hidden;

    &::after {
      --skewX: -45deg;
      --translateY: 50%;
      @extend %transforms;

      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      // inset: 0;
      background-color: white;
      transition: transform 200ms $ease-in-quad;
      // z-index: 999;
      bottom: 0;
      right: 0;
      right: calc(-1.5 * var(--size));
    }

    &--dark::after {
      background-color: theme('colors.darkgray');
    }

  }

  i.arrow-right {
    position: absolute;
    bottom: 12.5%;
    right: 15%;
    // right: var(--size);
    transform: translate(-50%, -50%) rotate(180deg);
    z-index: 10;
    background-color: theme('colors.gold');
    opacity: 0;
    transition: opacity 300ms $ease-in-cubic;
  }

  &:hover {
    .workTile {
      &__title {
        color: theme('colors.gold');
      }

      &__desc {
        opacity: 1;
        transform: translateY(0px);
      }

      &__frame {
        /*
        &::before {
          --translateY: 0%;
          transition: transform 430ms $ease-out-cubic;
        }
        */
      }

      &__figure {
        // transform: translateY(-5px);
        // box-shadow: 0 0 10px rgba(0,0,0,0.2);
        // transform: scale(1.05);
      }

      &__img {
        // transform: scale(1.05);
      }

      &__wedge {
        &::after {
          --translateX: -100%;
          --translateY: 0%;
          transition: transform 200ms $ease-out-cubic;
        }
      }
    }

    i.arrow-right {
      opacity: 1;
      transition: opacity 300ms $ease-out-cubic;
      z-index: 999;
    }
    
  }
}