html, body {
  width: 100%;
  overflow-x: hidden;
  background-color: theme('colors.darkgray');
}

body {
  background-color: theme('colors.darkgray');
  // background-color: white;
  color: theme('colors.darkgray');
  font-family: proxima-nova, sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  // scroll-behavior: smooth;
  text-align: center;

  @screen lg {
    text-align: left;
  }
}

main {
  display: block;
  width: 100%; height: 100%;
  background-color: white;
}

::selection {
  background-color: theme('colors.gold');
  color: white;
}

// =============================================================================
// Smooth Scroll Overrides
// =============================================================================

/*
#smooth-wrapper, #smooth-content {
  width: 100%;
  overflow-x: hidden;
}
*/
/*
@media only screen and (any-hover: none) and (pointer: coarse) {
  html, body {
    height: auto !important;
    overscroll-behavior: auto !important;
    scroll-behavior: auto !important;
  }

  #smooth-wrapper {
    height: auto;
    inset: auto;
    width: 100%;
    position: relative;
    overflow: visible;
  }

  #smooth-content {
    box-sizing: border-box;
    width: 100%;
    overflow: visible;
  }
}
*/