html, body {
  width: 100%;
  overflow-x: hidden;
  background-color: theme('colors.darkgray');
}

body {
  background-color: theme('colors.darkgray');
  // background-color: white;
  color: theme('colors.darkgray');
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  line-height: 26px;
  // scroll-behavior: smooth;
}

main {
  display: block;
  width: 100%; height: 100%;
  background-color: white;
}

::selection {
  background-color: theme('colors.gold');
  color: white;
}

#smooth-wrapper, #smooth-content {
  width: 100%;
  overflow-x: hidden;
}