html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  // background-color: theme('colors.darkgray');
  background-color: white;
  color: theme('colors.darkgray');
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  line-height: 26px;
  // scroll-behavior: smooth;
}

::selection {
  background-color: theme('colors.gold');
  color: white;
}