@use '../_partials/_mixins' as *;

.wrapper {
  @include wrapper;
}

.no-wrapper {
  @include no-wrapper;
}

.wrapper-narrow {
  @include wrapper-narrow;
}

.wrapper-wide {
  @include wrapper-wide;
}

.wrapperDiagonal {
  position: relative;
  display: block;
  // background-color: white;
  color: theme('colors.darkgray');
  // min-height: 100vh;
  padding-top: calc(var(--diagWrapperHeight)/2);
  padding-bottom: calc(var(--diagWrapperHeight)/2);
  z-index: 30;

  @screen xl {
    padding-bottom: 0;
  }
}

.wrapperCap {
  position: relative;
  display: block;
  background-color: white;
  width: 100%;
  height: var(--diagWrapperHeight);
  z-index: 10;

  &--top {
    transform: skewY(var(--diagWrapperAngle)) translate(0, 50%);
    margin-top: calc(var(--diagWrapperHeight) * -1);

    .home #hero & {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      // height: 100%; 
    }

    footer & {
      transform: skewY(var(--diagWrapperAngle));
      height: calc(2 * var(--diagWrapperHeight));
      margin-top: calc(var(--diagWrapperHeight) * -1.5);
    }
  }

  &--bottom {
    transform: skewY(var(--diagWrapperAngle)) translateY(-50%);
    margin-bottom: calc(var(--diagWrapperHeight) * -1);
  }
}