// =============================================================================
// Typography
// =============================================================================

body {
  font-size: 1rem;
  // text-align: center;
}

p, .p {
  font-size: 1rem;
  line-height: 1.875rem;
}

p.large {
  font-size: 1.125rem;
  line-height: 2.25rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.heading, .subhead {
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  margin-bottom: 2rem;
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: theme('fontFamily.sans');
  text-transform: uppercase;
}

h4, h5, h6, .h4, .h5, .h6 {
  font-family: theme('fontFamily.serif');
}

h1, .h1 {
  font-size: 3.4375rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 1.35px;

  @screen xl {
    font-size: 5.625rem;
    line-height: 5.875rem;
  }
}

h2, .h2 {
  font-size: 2.125rem;
  line-height: 1;
  font-weight: 800;

  @screen xl {
    font-size: 3.75rem;
  }
}

h3, .h3 {
  font-size: 1.75rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;

  @screen xl {
    font-size: 2.5rem;
    line-height: 2.625rem;
  }
}

h4, .h4 {
  font-size: 1.5rem;
  line-height: normal;
  text-transform: uppercase;
  font-family: theme('fontFamily.sans');
  font-weight: bold;
  line-height: normal;

  @screen xl {
    font-size: 1.625rem;
  }
}

.text-outline {
  -webkit-text-stroke-width: 1px;
  color: transparent;
  
  &::selection {
    -webkit-text-stroke-width: inherit;
    color: transparent;
  }

  &--light {
    -webkit-text-stroke-color: white;
  }

  &--dark {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: theme('colors.darkgray');
  }

  &--filled {
    color: inherit;
  }
}

.content-block {
  p {
    margin-bottom: 2rem;
    line-height: 1.625rem;
  }

  p.large {
    line-height: 2rem;
  }

  ul {
    margin-bottom: 2rem;
    padding-left: 2rem;
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 100 100'><circle cx='50%' cy='50%' r='20' /></svg>");
  }

  li {
    padding-left: 1rem;
    list-style-type: disc;
  }
}

blockquote {
  p {
    font-family: theme('fontFamily.sans');
    font-size: 1.625rem;
    line-height: 2.5rem;
    
    @screen xl {
      font-size: 1.875rem;
      line-height: 2.875rem;
    }
  }

  cite {
    display: block;
    font-style: normal;
  }

  @screen xl {
    font-size: 1.875rem;
    line-height: 2.875rem;
  }
}

.highlight-gold {
  --base-color: transparent;
  --hover-color: theme('colors.gold');

  // display: inline;
  background-image: linear-gradient(var(--base-color), var(--base-color)), linear-gradient(var(--hover-color), var(--hover-color));
  background-position: 100% 100%, 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0.5em, 100% 0.5em;
}

blockquote {
  font-family: theme('fontFamily.serif');
  margin-bottom: 2rem;
}