// =============================================================================
// CSS Variables
// =============================================================================

:root {
	--grid-margin: max(4.1666vw, calc((100vw - theme('screens.2xl')) / 2));
	--container-margin: max(0px, calc((100vw - theme('screens.6xl')) / 2));
	--margin-diff: calc(var(--grid-margin) - var(--container-margin));
	--column-width: calc((100vw - var(--grid-margin)) / 12);

  --site-header-height: 75px;

  @screen xl {
    --site-header-height: 100px;
  }

  --wrapper-width: calc(var(--grid-margin) * 12);
  --diagWrapperAngle: -6.88deg;
  --diagWrapperHeight: 15vw;
}