---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import WrapperDiagonal from '../components/WrapperDiagonal.astro'
import ContactForm from '~/components/ContactForm.astro';
---

<Layout title='Contact Us' namespace="contact">
  <Hero short class="pb-20 lg:pb-0">
    <h2 class="h1"><span class="text-outline text-outline--light">Let's get</span>  <br class="hidden lg:block"><span class="">started</h2>
  </Hero>
  <WrapperDiagonal class="z-20" defaultCTA={false}>
    <div class="flex flex-col lg:grid lg:grid-cols-2 wrapper">

      <!-- Info -->
      <section class="font-semibold antialiased grid grid-cols-[auto_1fr] gap-x-8 gap-y-2 items-center lg:-mt-[calc(var(--diagWrapperHeight)_/_3)] order-last lg:order-first text-left transition-fade transition-in">

        <!-- Location -->
        <i class="map-marker"></i>
        <p class="leading-snug">205 Chesterfield Industrial Blvd.<br>
          Chesterfield, MO 63005</p>
        <div class="col-start-2 mb-8 lg:mb-16"><a class="text-gold font-serif lowercase font-bold italic" href="">get directions</a></div>

        <!-- Email -->
        <i class="envelope"></i>
        <p class="leading-snug">Say hello or ask us a question.<br>
          We're happy to hear from you.</p>
        <div class="col-start-2 mb-8 lg:mb-16"><a class="text-gold font-serif lowercase font-bold italic" href="">email us</a></div>

        <!-- Careers -->
        <i class="wedge"></i>
        <p class="leading-snug">Interested in working at Leverage?</p>
        <div class="col-start-2 mb-8 lg:mb-16"><a class="text-gold font-serif lowercase font-bold italic" href="">visit our careers page</a></div>

      </section>

      <!-- Form -->
      <section class="bg-mediumgray w-full text-white p-6 py-14 lg:p-16 lg:pb-[50%] -mt-[calc(var(--diagWrapperHeight)_+_4rem)] lg:-mt-[calc(var(--diagWrapperHeight)_+_8rem)] lg:-mb-[calc(var(--diagWrapperHeight)_*_2)] mb-16 relative z-50 transition-fade transition-in">
        <h3 class="font-extrabold">First, tell us about <br>your project.</h3>
        <ContactForm />
      </section>
    </div>
  </WrapperDiagonal>
</Layout>