---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import WrapperDiagonal from '../components/WrapperDiagonal.astro'

import StaffMember from '../components/StaffMember.astro'
import Quotes from '../components/Quotes.astro'
import NavArrows from '../components/NavArrows.astro'
import Award from '../components/Award.astro'

import staff from '../data/staff.json'
import awards from '../data/awards.json'
---

<Layout title='Services' namespace="services">
  <Hero>
    <h2 class="h1"><span>Services</span></h2>
  </Hero>
  <WrapperDiagonal>
    <section class="wrapper mb-48"></section>
  </WrapperDiagonal>
</Layout>