---
const { org, award, proj, link, year } = Astro.props
---

<div class="my-8 lg:contents">
  <h4 class="award__org mb-4 lg:mb-0">{org}</h4>
  <h4 class="award__award mb-4 lg:mb-0">
    {award}{proj && <span> - </span><span class="award__proj">{link ? <a href="#">{proj}</a> : proj}</span>}
  </h4>
  <h4 class="award__year lg:text-right mb-0">{year}</h4>
</div>
<div class="award__line col-span-full border border-lightgray"></div>
