---
const { class: className } = Astro.props
---

<section data-anim-elem="fadeInUp" data-anim-start="top 80%" class:list={['wrapper mt-24 lg:mt-48 lg:pb-16', className]}>
  <div class="max-w-screen-lg mx-auto text-center">
    <h3 class="h1 text-[45px] lg:text-[120px] lg:leading-[110px] mb-0 leading-none tracking-normal"><span class="text-outline text-outline--dark">We're ready</span> <span>when you are</span>.</h3>
  </div>
  <div class="mt-12 w-full text-center">
    <span class="button button--slash text-gold font-merriweather font-bold text-18 antialiased italic transition-colors duration-500 ease-in-out">
      <a href="#" class="anchor">
        <span class="text">start your project</span>
        <span class="line line--right"></span>
        <span class="line line--top"></span>
        <span class="line line--left line--left--end"></span>
        <span class="line line--left line--left--start"></span>
        <span class="line line--bottom"></span>
      </a>
    </span>
  </div>
</section>