---
const { id, class: className } = Astro.props;
---
<section id={id} class:list={['hero grid grid-rows-[var(--site-header-height)_1fr_var(--diagWrapperHeight)] wrapper bg-darkgray text-white h-[75vh] lg:h-screen lg:min-h-[800px]', className]}>
  <div class="row-start-2 lg:flex lg:justify-center lg:items-center transition-fade transition-in">
    <slot />
  </div>
</section>