---

---

<button data-slider-nav="prev" class="w-14 h-14 border-2 border-lightgray rounded-full flex items-center justify-center group hover:bg-gold hover:border-gold transition-colors duration-300 ease-out"><i class="arrow-left bg-lightgray group-hover:bg-white transition-colors duration-300 ease-out"></i></button>
<button data-slider-nav="next" class="w-14 h-14 border-2 border-lightgray rounded-full flex items-center justify-center group hover:bg-gold hover:border-gold transition-colors duration-300 ease-out"><i class="arrow-right bg-lightgray group-hover:bg-white transition-colors duration-300 ease-out"></i></button>