---

---

<a href="#" class="group border-2 border-lightgray rounded-full w-14 h-14 flex items-center justify-center hover:bg-gold hover:border-gold transition-colors duration-500 ease-out"><i class="arrow-left w-[26px] h-[16px] bg-lightgray group-hover:bg-white"></i></a>
<a href="#" class="group border-2 border-lightgray rounded-full w-14 h-14 flex items-center justify-center hover:bg-gold hover:border-gold transition-colors duration-500 ease-out"><i class="arrow-right w-[26px] h-[16px] bg-lightgray group-hover:bg-white"></i></a>