---

---

<a href="#" class="w-14 h-14 border-2 border-lightgray rounded-full flex items-center justify-center"><i class="arrow-left bg-lightgray"></i></a>
<a href="#" class="w-14 h-14 border-2 border-lightgray rounded-full flex items-center justify-center"><i class="arrow-right bg-lightgray"></i></a>