---
import NavArrows from "./NavArrows.astro"
import quotes from '../data/quotes.json'

const { class: className, ...rest } = Astro.props;
---

<div data-anim-elem="fadeInUp" class:list={['text-left', className]}>
  <div class="max-w-lg">
    <h3 class="h4 mb-8 lg:mb-16">What our clients are saying...</h3>
  </div>
  <div data-cursor="-hidden" data-slider="quotes" class="swiper relative max-w-[824px] mx-auto">
    <div class="swiper-wrapper">
      {quotes.map((quote) =>
        <div class="swiper-slide cursor-grab active:cursor-grabbing">
          <blockquote class="mb-10 grid grid-cols-2 gap-y-8 lg:gap-y-12 justify-between">
              <p class="col-span-2">&OpenCurlyDoubleQuote;{quote.quote}&CloseCurlyDoubleQuote;</p>
              <cite class="col-span-2 lg:col-span-1">
                <div class="h4 mb-0">{quote.name}</div>
                <div class="italic text-base">{quote.role}</div>
              </cite>
          </blockquote>
        </div>
      )}
    </div>
    <div class="flex w-fit justify-end mx-auto lg:mx-0 lg:w-auto gap-x-2 mt-2 lg:-mt-16 z-10 relative">
      <NavArrows />
    </div>      
  </div>
</div>