---
import NavArrows from "./NavArrows.astro"
---

<section class="wrapper">
  <div class="max-w-screen-lg">
    <h3 class="h1 text-outline text-outline--dark">What our clients are saying...</h3>
  </div>
  <div class="relative max-w-screen-md mx-auto">
    <blockquote class="mt-12">
      <p class="h4">“Working with Leverage on our website redesign was easy. The process they use from the initial meeting to the finishing of the project is very detailed and personal. They do excellent work, but more importantly they create a relationship with their customer. Thank you to Matt, Laura, and the Leverage Team!”</p>
      <cite class="block not-italic mt-16">
        <span class="h3">Spiker H.</span><br>
        <span class="font-sans">The Tournament Guy</span>
      </cite>
    </blockquote>
    <div class="flex gap-x-2 absolute right-0 -bottom-12">
      <NavArrows />
    </div>
  </div>
</section>