<footer class="relative wrapper bg-darkgray text-white">

  <!-- Newsletter -->
  <div class="text-center max-w-screen-sm mx-auto pt-80 pb-36">
    <h3 class="h2">Want to hear more from us?</h3>
    <form action="" class="mt-6 flex gap-x-2">
      <input class="bg-transparent border-2 border-white w-full p-6 font-serif italic text-18 font-bold text-white text-opacity-100 antialiased placeholder:text-white" type="email" placeholder="sign up for our newsletter">
      <input type="submit" value="join" class="bg-gold border-2 border-gold w-28 font-serif italic text-18 font-bold text-darkgray cursor-pointer">
    </form>
  </div>

  <hr class="border-mediumgray">

  <div class="grid grid-cols-2 pt-36 pb-12">
    <h3 class="h1 text-outline text-outline--light">Be useful.<br>Be kind.<br>Be fearless.</h3>

    <!-- Contact Info -->
    <div class="grid grid-cols-2 pl-20">
      <div class="">
        <h4 class="h3">Find Us</h4>
        <p class="mt-8">205 Chesterfield Ind Blvd<br>Chesterfield, MO 63005</p>
        <h4 class="h3 !normal-case mt-20"><a href="">Email Us</a></h4>
      </div>

      <!-- Social -->
      <div class="">
        <h4 class="h3">Stay in touch</h4>
        <ul class="flex gap-x-4 mt-8">
          <li><a href=""><i class="fa-brands fa-twitter text-22"></i></a></li>
          <li><a href=""><i class="fa-brands fa-instagram text-22"></i></a></li>
          <li><a href=""><i class="fa-brands fa-facebook text-22"></i></a></li>
          <li><a href=""><i class="fa-brands fa-linkedin text-22"></i></a></li>
          <li><a href=""><i class="fa-brands fa-pinterest text-22"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="w-full text-right pt-24 pb-12">
    <p>© Leverage LLC | All rights reserved.</p>
  </div>
</footer>