---
import '../styles/_partials/_variables.scss'
import TagSVG from './TagSVG.astro';
---
<footer class="relative wrapper bg-darkgray text-white pt-[--diagWrapperHeight] -mt-[--diagWrapperHeight]">

  <!-- Newsletter -->
  <div data-anim-elem="fadeInUp" data-anim-start="top 90%" class="text-center max-w-screen-sm mx-auto mt-24 mb-20">
    <h3 class="text-28 lg:text-40 lg:leading-[42px] font-extrabold mb-4">Want to hear more from us?</h3>
    <form action="" class="flex gap-x-2">
      <input class="bg-transparent border-2 border-white w-full py-5 px-4 font-serif italic font-bold text-white text-opacity-100 antialiased placeholder:text-white" type="email" placeholder="sign up for our newsletter">
      <input type="submit" value="join" class="bg-gold border-2 border-gold w-28 font-serif italic text-18 font-bold text-darkgray cursor-pointer">
    </form>
  </div>

  <hr class="border-mediumgray">

  <div class="grid lg:grid-cols-2 pt-20">
    <!-- <h3 class="h2 text-[45px] lg:text-[90px] lg:text-left leading-none text-outline text-outline--light mb-0 order-last lg:order-none mt-16 lg:mt-0">Be useful.<br>Be kind.<br>Be fearless.</h3> -->
    <div data-draw-svg><TagSVG /></div>

    <!-- Contact Info -->
    <div class="grid lg:grid-cols-2 lg:pl-20 lg:text-left">
      <div class="">
        <h4 class="p leading-none mb-0">Find Us</h4>
        <p class="mt-6">205 Chesterfield Ind Blvd<br>Chesterfield, MO 63005</p>
        <p class="mt-10 font-bold"><a href="">Email Us</a></p>
      </div>

      <!-- Social -->
      <div class="mt-14 lg:mt-0">
        <p class="uppercase font-bold">Stay in touch</p>
        <ul class="flex gap-x-6 mt-6 justify-center lg:justify-normal">
          <li><a href="https://twitter.com/"><i class="fa-brands fa-twitter text-22"></i></a></li>
          <li><a href="https://instagram.com/"><i class="fa-brands fa-instagram text-22"></i></a></li>
          <li><a href="https://facebook.com/"><i class="fa-brands fa-facebook text-22"></i></a></li>
          <li><a href="https://linkedin.com/"><i class="fa-brands fa-linkedin text-22"></i></a></li>
          <li><a href="https://pinterest.com/"><i class="fa-brands fa-pinterest text-22"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="w-full lg:text-right pt-20 pb-14">
    <p>© Leverage LLC | All rights reserved.</p>
  </div>
</footer>