---
import Logo from "./Logo.astro"
---

<figure id="logo" class="left-[--container-margin] flex justify-start items-center">
  <a href="/" class="">
    <Logo />
  </a>
</figure>

<header id="site-header" class="absolute z-50 top-0 left-0 w-full h-[--site-header-height] flex justify-between items-center">

  <nav class="text-white font-bold fixed right-[--container-margin]">
    <ul class="flex gap-x-8 uppercase tracking-wider">
      <li class="hover:text-gold"><a href="/">Home</a></li>
      <li class="hover:text-gold"><a href="/about/">About</a></li>
      <li class="hover:text-gold"><a href="/styles/">Styles</a></li>
    </ul>
  </nav>
</header>

<script>
  /*
  import {gsap} from 'gsap'

  function headerStyle() {
    const siteHeader = document.querySelector('#site-header');

    let scrolled = document.scrollingElement.scrollTop;
    let position = document.querySelector('body').offsetTop;
    if( scrolled > position + 10 ) {
      document.body.classList.add('scrolled');
    } else {
      document.body.classList.remove('scrolled');
    }
  } headerStyle();
  
  document.addEventListener("scroll", (e) => {
    headerStyle();
  });

  if (document.querySelector('[data-header-scrolled]')) {
    const siteHeaderAnimTL = gsap.timeline({
      defaults: {
        // duration: 1,
        // ease: 'linear'
      },
      scrollTrigger: {
        trigger: '[data-header-scrolled]',
        start: 'top top',
        // markers: true,
        onUpdate:() => document.body.classList.toggle('scrolled')
      }
    }) 
    siteHeaderAnimTL
  }
  */
</script>

<style lang="scss" is:global>
  @import 'node_modules/easings-css';

  #site-header-bg {
    transform: translateY(-100%);
    transition: transform 50ms ease-out, opacity 200ms ease-out;  
  }

  nav {
    z-index: 10;

    li {
      transition: color 200ms ease-out;
    }
  }

  #logo {
    position: fixed;
    mix-blend-mode: difference;
    z-index: 999;
    // transition: all 200ms ease-out;
    a {
      height: var(--site-header-height);
      padding: 5px 0;
      z-index: 999;
      margin-left: -10px;
      display: flex;
      align-items: center;

      @screen xl {
        margin-left: -15px;
      }

      path, polygon {
        // transition: fill 200ms ease-out;
      }
      /*
      body.scrolled & {
        path, polygon {
          fill: theme('colors.darkgray');
        }
      }
      */
    }

    &:hover {
      mix-blend-mode: normal;
      path, polygon {
        fill: theme('colors.gold') !important;            
      }
    }

    svg {
      width: 100%;
      height: 50px;

      @screen xl {
        height: 60px;
      }
    }
  }

  // Scroll
  body.scrolled {

    /*
    #site-header-bg {
      transform: translateY(0);
      transition: transform 300ms ease-out;  
    }
    */
    nav {
      // color: theme('colors.darkgray');
      position: absolute;
    }

    #logo {
      path, polygon {
        // fill: theme('colors.darkgray');
      }
    }
  }
  /*
  html.is-animating {
    #site-header-bg {
      opacity: 0;
    }

    nav li a {
      color: white;
    }

    #logo {
      path, polygon {
        fill: white !important;
      }
    }
  }
  */
</style>