<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 605.5 243.7" style="enable-background:new 0 0 605.5 243.7;" xml:space="preserve">
  <title>Be Useful. Be Kind. Be Fearless</title>
  <style type="text/css">
    .tag-char{fill:none;stroke:#ffffff;stroke-width:1.5;stroke-miterlimit:10;}
  </style>
  <g id="be-useful" class="draw-group">
    <g id="be1">
        <path class="tag-char" d="M5.4,66V6h34C51.3,6,57,13.7,57,21.3c0,7.5-4.6,12.5-10.3,13.8c6.4,1,11.4,7.1,11.4,14.7
          c0,8.7-5.8,16.3-17.6,16.3H5.4z M41.2,24c0-2.9-2.2-5-5.3-5h-15v10h15C39.1,29,41.2,27,41.2,24z M42.4,47.6c0-3-2.2-5.4-5.9-5.4
          H20.9V53h15.6C40.1,53,42.4,50.8,42.4,47.6z"/>
        <path class="tag-char" d="M66.9,66V6h44v13.5H82.3v9.4h27.9v13.5H82.3v10.2h28.5V66H66.9z"/>
      </g>
    <g id="useful">
        <path class="tag-char" d="M143.5,41.7V6h15.7v35.2c0,7.1,4.2,12.2,12.7,12.2c8.3,0,12.6-5.1,12.6-12.2V6h15.7v35.6
          c0,14.9-9.1,25.5-28.3,25.5C152.5,67.1,143.5,56.5,143.5,41.7z"/>
        <path class="tag-char" d="M206.9,57.6l8.2-11.6c4.3,4.3,11,7.9,19.2,7.9c5.3,0,8.5-2.1,8.5-5c0-8.2-34-1.6-34-24.7
          c0-10.1,8.5-19.1,23.9-19.1c9.6,0,18,2.9,24.4,8.4l-8.5,11.1c-5-4.1-11.6-6.2-17.5-6.2c-4.5,0-6.5,1.8-6.5,4.3
          c0,7.6,33.9,2.1,33.9,24.4c0,12.1-8.9,20.1-25,20.1C221.4,67.1,212.9,63.3,206.9,57.6z"/>
        <path class="tag-char" d="M266,66V6h44v13.5h-28.5v9.4h27.9v13.5h-27.9v10.2H310V66H266z"/>
        <path class="tag-char" d="M319.3,66V6h44v13.5h-28.5v9.4h27.9v13.5h-27.9V66H319.3z"/>
        <path class="tag-char" d="M372,41.7V6h15.7v35.2c0,7.1,4.2,12.2,12.7,12.2c8.3,0,12.6-5.1,12.6-12.2V6h15.7v35.6
          c0,14.9-9.1,25.5-28.3,25.5C381.1,67.1,372,56.5,372,41.7z"/>
        <path class="tag-char" d="M439.7,66V6h15.5v46.5h24.1V66H439.7z"/>
        <path class="tag-char" d="M485.8,58.6c0-4.6,3.9-8.5,8.5-8.5s8.5,3.9,8.5,8.5s-3.9,8.5-8.5,8.5S485.8,63.2,485.8,58.6z"/>
      </g>
  </g>
  <g id="be-kind" class="draw-group">
    <g id="be2">
      <path class="tag-char" d="M5.4,152V92h34C51.3,92,57,99.7,57,107.3c0,7.5-4.6,12.5-10.3,13.8c6.4,1,11.4,7.1,11.4,14.7
      c0,8.7-5.8,16.3-17.6,16.3H5.4z M41.2,110c0-2.9-2.2-5-5.3-5h-15v10h15C39.1,115,41.2,113,41.2,110z M42.4,133.6
      c0-3-2.2-5.4-5.9-5.4H20.9V139h15.6C40.1,139,42.4,136.8,42.4,133.6z"/>
        <path class="tag-char" d="M66.9,152V92h44v13.5H82.3v9.4h27.9v13.5H82.3v10.2h28.5V152H66.9z"/>
    </g>
      <g id="kind">
      <path class="tag-char" d="M178.7,152L163,129.4l-4,5V152h-15.5V92h15.5v24.7L177.4,92h19.1l-23.3,28.1l24.6,31.9H178.7z"/>
      <path class="tag-char" d="M202.6,152V92h15.5v60H202.6z"/>
      <path class="tag-char" d="M270,152l-25.4-34.7V152h-15.5V92h15.9l24.3,33V92h15.6v60H270z"/>
      <path class="tag-char" d="M296,152V92h25.2c18.9,0,32.5,11.3,32.5,30c0,18.6-13.6,30.1-32.4,30.1H296z M337.9,122
        c0-9.3-5.6-16.5-16.6-16.5h-9.8v33h9.7C331.7,138.5,337.9,130.9,337.9,122z"/>
      <path class="tag-char" d="M357.9,144.6c0-4.6,3.9-8.5,8.5-8.5s8.5,3.9,8.5,8.5s-3.9,8.5-8.5,8.5S357.9,149.2,357.9,144.6z"/>
    </g>
  </g>
  <g id="be-fearless" class="draw-group">
    <g id="be3">
        <path class="tag-char" d="M5.4,238v-60h34c11.9,0,17.5,7.7,17.5,15.3c0,7.5-4.6,12.5-10.3,13.8c6.4,1,11.4,7.1,11.4,14.7
          c0,8.7-5.8,16.3-17.6,16.3H5.4z M41.2,196c0-2.9-2.2-4.9-5.3-4.9h-15v10h15C39.1,201,41.2,199,41.2,196z M42.4,219.6
          c0-3-2.2-5.4-5.9-5.4H20.9V225h15.6C40.1,225,42.4,222.8,42.4,219.6z"/>
        <path class="tag-char" d="M66.9,238v-60h44v13.5H82.3v9.4h27.9v13.5H82.3v10.2h28.5V238H66.9z"/>
      </g>
    <g id="fearless">
        <path class="tag-char" d="M143.5,238v-60h44v13.5h-28.5v9.4h27.9v13.5h-27.9V238H143.5z"/>
        <path class="tag-char" d="M196.1,238v-60h44v13.5h-28.5v9.4h27.9v13.5h-27.9v10.2h28.5V238H196.1z"/>
        <path class="tag-char" d="M290.2,238l-3-8.6h-23.7l-3,8.6H243l22.6-60H285l22.7,60H290.2z M275.3,193.3l-7.6,22.6H283L275.3,193.3z"/>
        <path class="tag-char" d="M345.9,238l-10.1-20.2h-7.9V238h-15.5v-60h30.1c13.3,0,20.9,8.8,20.9,20c0,10.4-6.4,16-12,18l12.2,22H345.9z
            M347.6,197.9c0-4.1-3.4-6.4-7.5-6.4h-12.2v12.9h12.2C344.2,204.4,347.6,202.1,347.6,197.9z"/>
        <path class="tag-char" d="M372.1,238v-60h15.5v46.5h24.1V238H372.1z"/>
        <path class="tag-char" d="M420,238v-60h44v13.5h-28.5v9.4h27.9v13.5h-27.9v10.2H464V238H420z"/>
        <path class="tag-char" d="M469,229.6l8.2-11.6c4.3,4.3,11,7.9,19.2,7.9c5.3,0,8.5-2.1,8.5-4.9c0-8.2-34-1.6-34-24.8
          c0-10.1,8.5-19.1,23.9-19.1c9.6,0,18,2.9,24.4,8.4l-8.5,11.1c-5-4.1-11.6-6.2-17.5-6.2c-4.5,0-6.5,1.8-6.5,4.3
          c0,7.7,33.9,2.1,33.9,24.4c0,12.1-8.9,20.1-25,20.1C483.5,239.1,475,235.3,469,229.6z"/>
          <path class="tag-char" d="M523.8,229.6l8.2-11.6c4.3,4.3,11,7.9,19.2,7.9c5.3,0,8.5-2.1,8.5-4.9c0-8.2-34-1.6-34-24.8
            c0-10.1,8.5-19.1,23.9-19.1c9.6,0,18,2.9,24.4,8.4l-8.5,11.1c-5-4.1-11.6-6.2-17.5-6.2c-4.5,0-6.5,1.8-6.5,4.3
            c0,7.7,33.9,2.1,33.9,24.4c0,12.1-8.9,20.1-25,20.1C538.3,239.1,529.8,235.3,523.8,229.6z"/>
          <path class="tag-char" d="M581.1,230.6c0-4.6,3.9-8.5,8.5-8.5s8.5,3.9,8.5,8.5s-3.9,8.5-8.5,8.5S581.1,235.2,581.1,230.6z"/>
      </g>
  </g>
</svg>
