---
const { title, img, slug, tags, desc, class: className } = Astro.props
---
<a data-parallax="window" data-anim-elem="fadeInUp" class:list={['workTile transition-fade', className]} href={slug}>
  <div class="relative ">
    <div class="workTile__frame">
      <figure class="workTile__figure">
        <img class="workTile__img object-" src={img} alt="">
      </figure>
    </div>
    <div class="workTile__wedge">
      <i class="arrow-right"></i>
    </div>
  </div>
  <div class="workTile__content">
    <h3 class="workTile__title h3">{title}</h3>
    <div class="workTile__tags">
      {tags.map((tag, i) =>
        <span class="workTile__tag">{tag}{i === tags.length - 1 ? '' : ', '}</span>
      )}
    </div>
  </div>
</a>