---
import '../styles/global.scss'
import SiteHeader from '../components/SiteHeader.astro'
import SiteFooter from '../components/SiteFooter.astro';
// import { PageTransition } from 'astro-page-transition';
export interface Props {
	title: string;
  namespace: string;
}

const { title, namespace } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link rel="preload" href="https://use.typekit.net/cin4lzn.css" as="style">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/cin4lzn.css">
		<title>{title}</title>
	</head>
	<body class:list={namespace}>
    <SiteHeader />
    <!-- <div id="site-header-bg" class="fixed z-40 top-0 left-0 w-full h-[--site-header-height] bg-white"></div> -->
    <main id="swup" class="overflow-auto h-full">
      <div id="smooth-wrapper">
        <div id="smooth-content">
          <slot />
          <!-- <div data-transition-mask class="fixed inset-0 bg-gold w-[150%] -left-[25%] -skew-x-[21.8deg] z-[49] hidden"></div> -->
          <SiteFooter />
        </div>
      </div>
    </main>
    <div class="transition-wipe"></div>

    <script>
      // import '../scripts/barba.js'
      // import '../scripts/main.js'
      import '../scripts/main.js'
    </script>
	</body>
</html>