---
interface Props {
  tag: "button" | "a";
  slash?: boolean;
  outline?: boolean;
  class?: string;
  [x: string]: any;
}

const {
  tag: Elem = "button",
  outline,
  slash,
  class: className,
  ...rest
} = Astro.props;
---

<span class:list={[slash && "button button--slash text-gold font-bold antialiased font-merriweather lg:text-18 italic ease-in-out"]}>
  <Elem
    {...rest}
    class:list={[
      !slash && "font-serif lowercase italic px-8 transition-colors px-5 py-2.5",
      !slash && outline && "border-2 border-gold bg-transparent hover:bg-gold text-gold hover:text-white",
      className,
    ]}
    ><slot />
    {slash &&
    <span class="line line--right"></span>
    <span class="line line--top"></span>
    <span class="line line--left line--left--end"></span>
    <span class="line line--left line--left--start"></span>
    <span class="line line--bottom"></span>
    }
  </Elem>
</span>